tests/resources/wfs_schema_dov_hhz.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gw_varia="http://dov.vlaanderen.be/grondwater/gw_varia" elementFormDefault="qualified" targetNamespace="http://dov.vlaanderen.be/grondwater/gw_varia">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="https://www.dov.vlaanderen.be/geoserver/schemas/gml/3.1.1/base/gml.xsd"/>
  <xsd:complexType name="hhzType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="hhz_naam" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="opp_m2" nillable="true" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="hhz" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:GeometryPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="hhz" substitutionGroup="gml:_Feature" type="gw_varia:hhzType"/>
</xsd:schema>
